@import "variables";

.contacts {
  &__title {
    color: $green;
    font-size: 36px;
    width: 614px;
    margin: 85px auto 15px;
  }
  &__subtitle {
    width: 614px;
    margin: 15px auto;
  }
  &__email {
    display: block;
    width: 614px;
    height: 191px;
    margin: 0 auto;
    line-height: 1.71;
    color: #a1a1a1;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    height: calc(100vh - #{$heightHeader});
    overflow: auto;
    &__title {
      max-width: 90%;
      font-size: 29px;
      margin: 30px auto 10px;
    }
    &__subtitle {
      max-width: 90%;
    }
    &__email {
      max-width: 90%;
      margin-top: 10px;
      height: auto;
      font-size: 14px;

    }
  }
}